.footer {
    a {
        color:#1a1515;
        font-size: 15px;
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 600;
        margin: 20px 0px;
        padding: 10px 0px;
        display: inline-block;
        background-color: #665d5c;
    }
    nav {
        background-color: #665d5c;
        width: 100%;
        display: flex;
    }
}