header {
  width: 100%; }
  header div h1 {
    color: #c2b6b3;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    text-align: center;
    background-color: #8f746e;
    padding-top: 20px;
    padding-bottom: 20px; }
  header nav ul {
    display: flex;
    justify-content: flex-start; }

.navMenu ul li a {
  color: #52423f;
  font-size: 18px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 600;
  text-align: left;
  list-style: none; }

.navMenu li {
  display: flex;
  padding: 0px 10px; }

main .mainTitulo {
  color: #52423f;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  text-align: center;
  padding: 20px 0px 30px 0px; }

main .mainSection {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap; }
  main .mainSection h6 {
    font-size: 25px;
    line-height: 2.3; }

.formContacto {
  color: #1a1515;
  font-size: 15px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 600;
  margin: 10px;
  display: block;
  margin: 15px 0px 5px 0px; }
  .formContacto textarea {
    background-color: #ecd6d5; }
  .formContacto .inputTexto {
    background-color: #ecd6d5;
    margin-top: 10px; }
  .formContacto .newsletter {
    display: inline-block;
    margin: 15px 0px 5px 0px; }

.footer a {
  color: #1a1515;
  font-size: 15px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 600;
  margin: 20px 0px;
  padding: 10px 0px;
  display: inline-block;
  background-color: #665d5c; }

.footer nav {
  background-color: #665d5c;
  width: 100%;
  display: flex; }

@media screen and (max-width: 510px) {
  .navMenu ul {
    flex-direction: column;
    align-items: center; }
  .main p {
    margin: 0 auto; }
  .sectionProductos {
    grid-template-columns: auto;
    grid-template-rows: auto; } }

@media screen and (max-width: 760px) {
  .mainSection {
    margin: 5%; } }

@media screen and (min-width: 1024px) {
  .imgArticulo {
    height: 250px;
    width: 150px;
    transition: height 4s, width 4s; }
  .imgArticulo:hover {
    height: 300px;
    width: 200px; }
  .nombreArticulo {
    transition: color 1s; }
  .nombreArticulo:hover {
    color: #8b8888; }
  .mainTitulo {
    font-size: 30px;
    transition: font-size 3s; }
  .mainTitulo:hover {
    font-size: 40px; } }
